
table {
    width: 100%;
  }
  
  .bar {
    height: 20px;
    background-color: #007bff;
  }
  
  .addContainer {
    width: 600px; /* Adjust the width as desired */
    height: 400px; /* Adjust the height as desired */
  }

  //drop down
  /* styles.css or your custom CSS file */

/* Style for the dropdown container */
.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style for the label */
label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* Style for the select dropdown */
select {
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

/* Style for the select dropdown when focused */
select:focus {
  border-color: #6d9fd5;
}

/* Style for the select dropdown arrow */
select::-ms-expand {
  display: none;
}

/* Style for the dropdown options */
option {
  font-size: 14px;
  padding: 8px 12px;
}




  